@use '@/styles/variables' as vars;

.login-page {
  padding: 10px;
  width: 700px;
  height: 672px;
  min-height: fit-content;
  color: #000000;
  border-radius: vars.$border-radius;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__title {
    margin: 0;
    padding: 40px 0 20px;
    font-size: vars.$font-size-xxl;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__forgot {
    display: flex;
    justify-content: flex-end;
    font-size: vars.$font-size-lg;
    font-weight: 500;
    margin-bottom: 60px;
    cursor: pointer;

    &:hover {
      color: vars.$hover-color;
    }
  }

  &__signup {
    font-size: vars.$font-size-lg;

    b {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 991px) {
  .login-page {
    width: 700px;
    height: 672px;
  }
}

@media screen and (max-width: 768px) {
  .login-page {
    width: 600px;
    height: 672px;
    box-shadow: unset;

    &__forgot {
      font-size: vars.$font-size-md;
      margin-bottom: 40px;
    }

    &__signup {
      font-size: vars.$font-size-md;
    }
  }
}

@media screen and (max-width: 550px) {
  .login-page {
    width: 500px;
    height: 672px;
  }
}

@media screen and (max-width: 450px) {
  .login-page {
    width: 370px;
    height: 672px;
  }
}

@media screen and (max-width: 400px) {
  .login-page {
    width: 340px;
    height: 580px;
  }
}
