@use '@/styles/variables' as vars;

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 470px;
  height: 42px;
  border-radius: vars.$border-radius;
  border: 1px solid vars.$border-color;
  background-color: vars.$secondary-bg-color;
  padding: 0 10px;
  cursor: default;

  &:focus-within {
    border-color: transparent;
    outline: none;
    box-shadow: inset 0 0 0 1px #3b82f6;
  }

  &.disabled,
  &.readonly {
    background-color: #f7f7f7;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.invalid {
    border-color: vars.$error-color;
    box-shadow: inset 0 0 0 1px vars.$error-color;
  }

  &.no-border {
    border: unset;
    box-shadow: unset;
  }
  &.no-padding {
    padding: 0;
  }

  .icon {
    color: #6b7280;
  }
}

.input-field {
  font-family: vars.$font-primary;
  outline: none;
  background-color: inherit;
  width: 100%;
  font-size: vars.$font-size-lg;
  border: none;
  color: #4f4f4f;

  &::placeholder {
    color: vars.$text-color;
  }
}

@media screen and (max-width: 550px) {
  .input-container {
    width: 400px;
    height: 42px;
  }

  .input-field {
    font-size: vars.$font-size-md;
  }
}

@media screen and (max-width: 450px) {
  .input-container {
    width: 320px;
    height: 42px;
  }
}

@media screen and (max-width: 400px) {
  .input-container {
    width: 280px;
    height: 40px;
  }
}
