@use '@/styles/variables' as vars;

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 9px 10px;
  cursor: pointer;
  color: vars.$text-color;

  &.active {
    border-bottom: 2px solid green;
  }
}

.nav-item__icon {
  font-size: vars.$font-size-lg;
}

.nav-item__name {
  font-size: vars.$font-size-sm;
  font-weight: vars.$font-semibold;
}
