@use '@/styles/variables' as vars;

.properties {
  right: 0;
  top: 0;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  width: vars.$sidebar-width;
  min-width: vars.$sidebar-width;
  background: #fff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #ddd;
}

.properties-header {
  border-bottom: 1px solid #8b8a8a;
  padding: 5px 10px;
  font-weight: 600;

  &__label {
    font-size: vars.$font-size-md;
  }
}

.frames {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  &-header {
    display: flex;
    align-items: center;
  }

  &-title {
    font-size: vars.$font-size-md;
    font-weight: 600;
    padding: 5px 10px;
  }

  &-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    &__button {
    }
  }
}
