@use '@/styles/variables' as vars;

.navigation {
  background-color: vars.$primary-bg-color;
  color: white;
  text-align: center;
  overflow-y: auto;
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
