@use '@/styles/variables' as vars;

.actions {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  &-header {
    display: flex;
    align-items: center;
  }

  &-title {
    font-size: vars.$font-size-md;
    font-weight: 600;
    padding: 5px 10px;
  }

  &-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    &__button {
      font-size: 10px;
    }

    &__icon {
    }
  }
}
