.form-label {
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
  position: relative;
  color: #000000;

  // &.required::before {
  //   content: "*";
  //   margin-right: 4px;
  //   color: #dc3545;
  // }
}
