@use '@/styles/variables' as vars;

.sidebar {
  left: 0;
  top: 0;
  height: 100vh;
  width: vars.$sidebar-width;
  min-width: vars.$sidebar-width;
  background: #fff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-header {
  border-bottom: 1px solid #8b8a8a;
  padding: 5px 10px;
  font-weight: 600;

  &__label {
    font-size: vars.$font-size-md;
  }
}
