@use '@/styles/variables' as vars;

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-message {
  font-weight: vars.$font-regular;
  font-size: vars.$font-size-sm;
  color: vars.$error-color;
  margin-left: 12px;

  &:first-letter {
    text-transform: uppercase;
  }
}
