@use '@/styles/variables' as vars;

.layers {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  &-header {
    display: flex;
    align-items: center;
  }

  &-title {
    font-size: vars.$font-size-md;
    font-weight: 600;
    padding: 5px 10px;
  }

  &-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
}

.layer-list {
  width: 100%;
}
.layer {
  display: flex;
  flex-direction: column;

  &-actions {
    padding: 5px 10px;
    display: flex;
    gap: 10px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: vars.$secondary-color;
      border-radius: vars.$border-radius;
      cursor: pointer;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &__info {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__label {
      font-size: vars.$font-size-md;
    }

    &__action {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 5px;
    }

    &.selected {
      background-color: rgb(193, 212, 212);
      font-weight: vars.$font-semibold;
    }

    &:hover {
      background-color: #ccc;
      transition: 0.3s ease-in-out;
    }
  }
}
