.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 470px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  padding: 0 10px;
  cursor: default;

  &:focus-within {
    border-color: transparent;
    outline: none;
    box-shadow: inset 0 0 0 1px #3b82f6;
  }

  &.disabled,
  &.read-only {
    background-color: #f7f7f7;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.invalid {
    border-color: #dc3545;
    box-shadow: inset 0 0 0 1px #dc3545;
  }

  .icon {
    color: #6b7280;
  }
}

.input-field {
  outline: none;
  background-color: inherit;
  width: 100%;
  font-size: 18px;
  border: none;
  color: #4f4f4f;

  &::placeholder {
    color: #4f4f4f;
  }
}

@media screen and (max-width: 550px) {
  .input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 400px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    padding: 0 10px;
    cursor: default;
  }
}

@media screen and (max-width: 450px) {
  .input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    padding: 0 10px;
    cursor: default;
  }
}

@media screen and (max-width: 400px) {
  .input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    padding: 0 10px;
    cursor: default;
  }
}
