.signupPage {
  padding: 10px;
  width: 700px;
  height: 672px;
  min-height: fit-content;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .signupPage__title {
    margin: 0;
    padding: 70px 0 20px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .signupPage__form {
    display: flex;
    flex-direction: column;
    align-items: start;

    .signupPage__empty {
      margin-bottom: 60px;
    }

    .signupPage__login {
      display: flex;
      justify-content: flex-start;
      font-size: 18px;

      b {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .signupPage {
    padding: 10px;
    width: 700px;
    height: 672px;
    min-height: fit-content;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .signupPage {
    padding: 10px;
    width: 600px;
    height: 672px;
    min-height: fit-content;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .signupPage {
    padding: 10px;
    width: 500px;
    height: 672px;
    min-height: fit-content;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .signupPage {
    padding: 10px;
    width: 370px;
    height: 672px;
    min-height: fit-content;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .signupPage {
    padding: 10px;
    width: 320px;
    height: 650px;
    min-height: fit-content;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
