@use '@/styles/variables' as vars;

.form-label {
  font-size: vars.$font-size-lg;
  font-weight: vars.$font-bold;
  display: inline-flex;
  position: relative;
  color: #000000;

  &.required::after {
    content: '*';
    margin-left: 4px;
    color: vars.$error-color;
  }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
  .form-label {
    font-size: vars.$font-size-md;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 400px) {
}
